/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  width: 1440px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* container */
#full-container {
  width: 90%;
  margin: 10px auto;
}

/* sections */
section {
  width: 33.333%;
  float: left;
  padding: 5px 5px;
  margin-bottom: 20px;
}

.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.sale {
  float: left;
  margin: 500px 6px 20px 0;
  padding: 6px;
  background-color: rgb(227, 66, 52);
  color: white;
}

.eco {
  float: left;
  margin: 500px 6px 20px 0;
  padding: 6px;
  background-color: rgb(0, 158, 96);
  color: white;
}

.info-container {
  background-color: rgb(250, 250, 250);
  padding: 5px 8px;
}

.brand {
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  color: grey;
}

h4 {
  text-transform: uppercase;
  margin-top: 1px;
}

.sale-price {
  font-size: 13px;
  font-weight: bold;
  color: rgb(227, 66, 52);
}

.original-price {
  font-size: 12px;
  color: grey;
  text-decoration: line-through;
}

/* levis */
#levis .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* guess */
#guess .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* sugar */
#sugar .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* visel */
#visel .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* maya */
#maya .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/5.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* esprit */
#esprit .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/6.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* hover */
.heart:hover {
  background-color: rgb(227, 66, 52);
  color: white;
}

#levis .photo:hover{
  background-image: url(img/1b.webp);
}

#guess .photo:hover{
  background-image: url(img/2b.webp);
}

#sugar .photo:hover{
  background-image: url(img/3b.webp);
}

#visel .photo:hover{
  background-image: url(img/4b.webp);
}

#maya .photo:hover{
  background-image: url(img/5b.webp);
}

#esprit .photo:hover{
  background-image: url(img/6b.webp);
}

/* debug
.debug section {
  height: 600px;
  background-color: cornflowerblue;
} */