/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  width: 1440px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* container */
#container {
  width: 90%;
  margin: 10px auto;
}

/* sections */
section {
  width: calc(100% / 3 - 30px);
  float: left;
  margin: 5px 5px;
}

.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.sale {
  float: left;
  margin: 500px 6px 20px 0;
  padding: 6px;
  background-color: rgb(227, 66, 52);
  color: white;
}

.eco {
  float: left;
  margin: 500px 6px 20px 0;
  padding: 6px;
  background-color: rgb(0, 158, 96);
  color: white;
}

.brand {
  display: inline-block;
  font-size: 14px;
  color: grey;
  margin-top: 5px;
}

h4 {
  text-transform: uppercase;
}

.sale-price {
  font-size: 13px;
  font-weight: bold;
  color: rgb(227, 66, 52);
}

.original-price {
  font-size: 12px;
  color: grey;
  text-decoration: line-through;
}

/* levis */
#levis .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* guess */
#guess .photo {
  width: 100%;
  height: 550px;
  background-image: url(img/2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* hover */
.heart:hover {
  background-color: rgb(227, 66, 52);
  color: white;
}

#levis .photo:hover{
  background-image: url(img/1b.webp);
}

#guess .photo:hover{
  background-image: url(img/2b.webp);
}

/* debug */
.debug section {
  height: 600px;
  background-color: cornflowerblue;
}